/*GENERALI*/
.vjs-cinema-btn:hover {
  cursor: pointer !important;
}

/********mini-player**********/
.progress-preview-video {
  width: 15vw;
  max-width: 190px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.video-js video {
  object-fit: cover;
}

/*-------barra di progresso video---------*/
.video-js .vjs-progress-control {
  position: absolute;
  bottom: 51px;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.vjs-play-progress {
  background-color: var(--primary-color) !important;
}
/*pallino*/
.vjs-progress-holder {
  color: var(--primary-color) !important;
}

/********barra di controllo**********/
.vjs-control-bar {
  font-size: 1.7em;
  background-color: rgba(0, 0, 0, 0.1) !important;
  justify-content: space-between;
}

/********Grouped ControlsSTART**********/

.vjs-grouped-controls-start {
  display: flex;
  min-width: 20%;
}

.vjs-title-video {
  order: 2;
  position: relative;
  left: 125px;
  top: 3px;
  font-size: 15px;

  color: var(--primary-color);
}

/********Volume**********/
.vjs-volume-panel {
  order: 4;
}
.vjs-mute-control {
  color: var(--primary-color) !important;
}

.vjs-volume-bar.vjs-slider-horizontal {
}

.video-js .vjs-volume-control.vjs-volume-horizontal {
}

/*barra di volume*/
.vjs-volume-level {
}
/*pallino di volume*/
.vjs-volume-level::before {
}
/*trattino volume verticale*/
.vjs-volume-bar .vjs-mouse-display {
}
/*****Time*****/
.vjs-current-time {
  order: 5;
}
.vjs-time-divider {
  order: 6;
}
.vjs-duration {
  order: 7;
}

/********Grouped ControlsCENTER**********/

.vjs-grouped-controls-center {
  display: flex;
}

/*play*/
.vjs-play-control {
  border-radius: 10px;
  order: 3 !important;
  color: var(--primary-color) !important;
}

.vjs-play-control .vjs-icon-placeholder::before {
  transform: scale(1.5); /* Ingrandisce l'icona PLAY,PAUSE,RETURN*/
}

.vjs-play-control,
.vjs-next-button,
.vjs-prev-button {
  padding-inline: 20px !important;
}

/*next Button*/
.vjs-next-button {
  border-radius: 10px;
  order: 4;
}
.vjs-prev-button {
  border-radius: 10px;
}

/*skip forward*/
.vjs-skip-forward-button {
  border-radius: 10px;
  order: 4;
  margin-right: 5px;
}
/*skip rewind*/
.vjs-skip-rewind-button {
  border-radius: 10px;
  margin-left: 5px;
}

.sec10 {
  padding-top: 8px;
}

/*---------------Grouped ControlsEND---------------*/
.vjs-grouped-controls-end {
  display: flex;
  color: var(--primary-color) !important;
  justify-content: flex-end;
  min-width: 20%;
}

/* Modalità Cinema */
.cinema-mode {
  width: 100vw !important; /* Larghezza completa */
  height: 50vh !important; /* Altezza fissa */
  max-width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0s ease-in-out;
}

.cinema-mode video {
  width: 70% !important;
  height: 100% !important;
  object-fit: contain !important;
  left: 280px !important;
  top: 14% !important;
}

/*MINIVIDEO*/

.mini-video-mode {
  width: 35% !important;
  bottom: 15px;
  position: absolute;
  right: 11px;
}
.mini-video-mode .vjs-tech,
.mini-video-mode .video-js {
  border-radius: 10px !important;
}
.mini-video-mode .vjs-grouped-controls-end,
.mini-video-mode .vjs-time-divider {
  display: none !important;
}
.mini-video-mode .vjs-progress-control {
  bottom: 24px !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.mini-video-icon {
  display: none;
  position: absolute;
  right: 20px;
  bottom: 10px;
  width: 24px;
  height: 24px;
}
.mini-video-mode .vjs-next-button,
.mini-video-mode .vjs-mute-control,
.mini-video-mode .vjs-current-time,
.mini-video-mode .vjs-duration {
  top: 5px;
  position: relative;
}
.mini-video-mode .vjs-play-control {
  position: relative;
  top: 3px;
}

.video-player.mini-video-mode .mini-video-icon {
  display: block !important;
}
/*---FULLSCREEN---*/
.vjs-fullscreen-control {
  border-radius: 10px;
}

/*--AUTOPLAY---*/
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 8px;
  background: #777; /* Colorequando è spento */
  border-radius: 20px;
  transition: 0.3s;
  margin-top: 21px;
  right: 15px;
}

.switch input {
  height: 0;
}

/* Barra */
.slider {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background-color: #777;

  border-radius: 20px;
  height: 8px;
}

/* Pallino */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;

  bottom: -3px;
  background-color: var(--primary-color);
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Icona dentro il pallino */
.slider-icon {
  position: absolute;
  top: 20%;
  left: 4px;
  transform: translateY(-50%);
  font-size: 9px;
  color: #374f43;
  transition: 0.3s;
  margin-left: -3px;
}

/* --Stato attivo-- */
input:checked + .slider {
  background-color: var(--primary-color); /* Verde per ON */
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Quando il toggle è attivo mostra l'icona Play */
input:checked + .slider .slider-icon {
  opacity: 1;
  left: 28px;
}

/**********QUALITY**********/

.vjs-setting-button {
  border-radius: 10px;
}

.quality-menu {
  position: absolute;
  bottom: 50px;
  background: rgba(0, 0, 0, 0.7);
  padding: 2px;
  border-radius: 5px;
}

.quality-option {
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.quality-option:hover {
  background: white;
  color: black;
  border-radius: 3px;
}

.no-quality {
  color: white;
  text-align: center;
  font-size: 14px;
}

/*******PROPS PERSONAIZZATE********/

/* -------- DARKMODE-------- */
.dark-mode .vjs-play-control:hover,
.dark-mode .vjs-volume-control:hover,
.dark-mode .vjs-next-button:hover,
.dark-mode .vjs-prev-button:hover,
.dark-mode .vjs-skip-forward-button:hover,
.dark-mode .vjs-skip-rewind-button:hover,
.dark-mode .vjs-progress-control:hover,
.dark-mode .vjs-fullscreen-control:hover,
.dark-mode .vjs-setting-button:hover,
.dark-mode .vjs-fullscreen-control:hover,
.dark-mode .vjs-mute-control:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.9) !important; /* Cambia sfondo */
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

/*----------SIZE---------*/
/*Size 25% */
.video-player.size-25 {
  width: 25% !important;
}

/*Size 50% */
.video-player.size-50 {
  width: 50% !important;
}

/*Size 75% */
.video-player.size-75 {
  width: 75% !important;
}

/*Size 100% */
.video-player.size-100 {
  width: 100% !important;
}

/*------------MEDIA QUERIES-----------*/
/* 📌 Per schermi più piccoli (Smartphone) */
/* 📌 Nasconde i bottoni di skip su schermi più piccoli di un iPad (fino a 768px inclusi) */
@media (max-width: 768px) {
  .vjs-skip-forward-button,
  .vjs-skip-rewind-button,
  .vjs-title-video {
    display: none !important;
  }
}

/* 📌 Regole per i telefoni (≤ 600px) */
@media (max-width: 600px) {
  .vjs-control-bar {
    font-size: 0.9em;
  }

  .vjs-title-video {
    left: 80px;
  }

  .vjs-prev-button svg,
  .vjs-next-button svg,
  .vjs-setting-button svg {
    width: 17px !important;
  }

  .switch {
    bottom: 10px !important;
  }

  .slider::before {
    width: 10px !important;
    height: 10px !important;
    bottom: 0.5px;
    border: 1px solid rgb(107, 107, 107);
  }
  .slider-icon {
    display: none;
  }

  .video-js .vjs-progress-control {
    bottom: 15px !important;
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
  }
  .vjs-current-time {
    margin-top: 10px !important;
  }
  .vjs-duration {
    margin-top: 10px !important;
  }
}

/* 📌 Per tablet (iPad incluso) */
@media (min-width: 601px) and (max-width: 1024px) {
  .vjs-title-video {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 893px) {
  .vjs-volume-bar,
  .vjs-volume-horizontal {
    width: 50px !important;
  }
  .vjs-title-video {
    left: 50px;
  }

  .vjs-play-control:hover,
  .vjs-volume-control:hover,
  .vjs-next-button:hover,
  .vjs-prev-button:hover,
  .vjs-skip-forward-button:hover,
  .vjs-skip-rewind-button:hover,
  .vjs-progress-control:hover,
  .vjs-fullscreen-control:hover,
  .vjs-setting-button:hover,
  .vjs-mute-control:hover {
    transform: unset;
    background-color: unset !important;

    box-shadow: unset;
  }
} /* Tooltip generale */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

/* Tooltip generale */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

/* Tooltip per il pulsante Setting */
.vjs-setting-button::after {
  content: "Settings"; /* Testo del tooltip */
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  transition: opacity 0.1s ease-in-out;
  display: none;
}

.vjs-next-button::after {
  content: "Next";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  transition: opacity 0.1s ease-in-out;
  display: none;
}

.vjs-prev-button::after {
  content: "Prev";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  transition: opacity 0.1s ease-in-out;
  display: none;
}
.vjs-skip-forward-button::after,
.vjs-skip-rewind-button::after {
  content: "Skip";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  transition: opacity 0.1s ease-in-out;
  display: none;
}

/* Mostra il tooltip quando passi con il mouse */
.vjs-setting-button:hover::after,
.vjs-next-button:hover::after,
.vjs-prev-button:hover::after,
.vjs-skip-forward-button:hover::after,
.vjs-skip-rewind-button:hover::after {
  opacity: 1;
  display: block;
}

.vjs-play-control[title]:hover::after,
.vjs-mute-control[title]:hover::after,
.vjs-fullscreen-control[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  display: block;
}

.vjs-play-control::after,
.vjs-mute-control::after,
.vjs-fullscreen-control::after {
  content: attr(data-title);
}

.settings-menu {
  position: absolute;

  padding: 8px;
  border-radius: 5px;
  display: none;
  z-index: 9999 !important;
  transform: translateX(-50%);
}

.settings-option {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.menu-content {
  background: black;

  border-radius: 10px;
  text-align: center;
}
