/********mini-player**********/

.progress-preview-video {
  width: 15vw;
  max-width: 190px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/********barra di progresso**********/
.video-js .vjs-progress-control {
  position: absolute;
  bottom: 51px;

  right: 20%;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.6) !important;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/********barra di controllo**********/
.vjs-control-bar {
  font-size: 1.7em;
  background-color: rgba(0, 0, 0, 0.6) !important;
  justify-content: space-between;
}

/********Grouped ControlsSTART**********/

.vjs-grouped-controls-start {
  display: flex;
}

/********Grouped ControlsCENTER**********/

.vjs-grouped-controls-center {
  display: flex;
}
.vjs-play-control:hover,
.vjs-volume-control:hover,
.vjs-next-button:hover,
.vjs-prev-button:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.6) !important;
  cursor: pointer;
}
.vjs-skip-forward-button:hover,
.vjs-skip-rewind-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
/*play*/
.vjs-play-control {
  border-radius: 10px;
  order: 3 !important;
}

.vjs-play-control,
.vjs-next-button,
.vjs-prev-button {
  padding-inline: 20px !important;
}

/*next Button*/
.vjs-next-button {
  border-radius: 10px;
  order: 4;
}
.vjs-prev-button {
  border-radius: 10px;
}

/*skip forward*/
.vjs-skip-forward-button {
  border-radius: 10px;
  order: 4;
  margin-right: 5px;
}
/*skip rewind*/
.vjs-skip-rewind-button {
  border-radius: 10px;
  margin-left: 5px;
}

.sec10 {
  padding-top: 8px;
}
