.player-container {
  width: 50%;
  margin-top: 5%;
  margin-left: 25%;
}
.video-player {
  display: flex;
  justify-content: center;
}

/* barra di controllo */
.vjs-control-bar {
  background-color: black !important;
  font-size: 1.5em !important;
  justify-content: space-between;
}
/* icona play */

.vjs-volume-control {
  align-items: center;
}
.vjs-volume-bar {
  font-size: 15px !important;
}

/* barra di progresso */
.video-js .vjs-progress-control {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
}

/* mini-player */
.progress-preview-video {
  width: 190px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/*time*/
.vjs-time-control {
  padding: 0 !important;
  margin: 0 !important;
  min-width: unset !important;
}

.vjs-grouped-controls {
  display: flex;
}

.vjs-current-time-display {
  margin-right: 4px;
  letter-spacing: 0.6px;
}
.vjs-duration-display {
  margin-left: 4px;
  letter-spacing: 0.6px;
}

/* Bottone precedente e successivo */
.vjs-prev-button,
.vjs-next-button {
  font-size: 12px !important;
}

.vjs-prev-button:hover,
.vjs-next-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.vjs-fullscreen-control:hover {
  transform: scale(1.1);
}
